* {
  margin: 0;
  padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.all {
  background-color: white;
  /* border: 1px solid black;
  border-radius: 1px; */
  display: flex;
}
#main {
  /* background-color: blue;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 70%;
    margin: 50px auto; */

  background:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 20px;
  width: 25vw;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 5vh 0;
  gap: 5vh;
}
#circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 150px;
  flex-direction: column;
  height: 150px;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  font-style: normal;
  font-size: small;
}
#circle h1{
  font-size: 50px;
}

#second {
  background-color: white;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
  border-radius: 20px;
  padding: 5vh 0;
  width: 25vw;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
}
#words {
  width: 80%;
  /* border: 1px solid black; */
}
#sum{
    width: 80%;
    display: flex;
    justify-content: start;
    color: hsl(224, 30%, 27%)
}

#words h1{
    display: flex;
    justify-content: center;
    text-align: center;
}

.outer-box {
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
}
.inner-box {
  display: flex;
  gap: 3px;
}

#num1 {
  background-color: hsla(0, 100%, 67%, 0.1);
}
#num1 .inner-box p {
  color: hsl(0, 100%, 67%);
}
#num2 {
  background-color: hsla(39, 100%, 56%, 0.1);
}
#num2 .inner-box p {
  color: hsl(39, 100%, 56%);
}
#num3 {
    background-color: hsla(166, 100%, 37%, 0.1);
  }
  #num3 .inner-box p {
    color: hsl(166, 100%, 37%);
  }
  #num4 {
    background-color: hsla(234, 85%, 45%, 0.1);
  }
  #num4 .inner-box p {
    color: hsl(234, 85%, 45%);
  }

  #last{
    border-radius: 30px;
    border: 1px solid black;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    width: 80%; 
    background-color:hsl(224, 30%, 27%) ;
    color: white;
  }
  #last:hover{
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
  }
  @media (max-width: 576px) {
    #main,
    #second {
      width: 100%;
    }
    .all {
      flex-direction: column;
      width: 100%;
    }
  }
  @media (min-width: 577px) and (max-width: 992px) {
    #all {
      width: 100%;
    }
  }